<h2>Cadastro de Categoria</h2>
<hr>
<div class="card">
    <div class="card-body">
        <form action="/admin/categorias/nova" method="POST">
            <div class="form-group">
                <label for="nomeCategoria">Nome</label>
                <input type="text" class="form-control" name="nome" id="nomeCategoria" placeholder="Nome da Categoria">
            </div>
            <div class="form-group">
                <label for="slug">Slug</label>
                <input type="text" class="form-control" name="slug" id="slugCategoria" placeholder="Slug da Categoria">
            </div>
            <button type="submit" class="btn btn-success">Confirmar</button>
        </form>
    </div>
</div>